
[[extend 'layout-noFooter.html']]

<style>
  [v-cloak] {
    display: none;
  }
</style>

<head>
  <title>Home - Pixel Domination</title>
  <style>
    #canvas {
      border: 1px solid #000;
    }

    .color {
      width: 40px;
      height: 40px;
      display: inline-block;
      margin: 2px;
    }

    .expand {
      display: flex;
      flex-direction: row;
    }
    .center {
      display: block;
      width: 66%;
      margin-left: auto;
      margin-right: auto;
    }
    @media(max-width: 500px) {
      .reverse-columns {
        flex-direction: column-reverse;
        display: flex;
      }
    }

    .titled {
      font-size: 58px !important;
      font-weight: 400 !important;
      line-height: 64px !important;
    }

    .subtitled {
      font-size: 22px !important;
      font-weight: 400 !important;
      line-height: 36px !important;
    }

  </style>
</head>

<body>
  <!--div class="section">
    <-div h1 style="text-align:center;" class="title is-1"> Pixel Domination</h1>
    <div>
      <img src="images/pixeldomination.png" alt = "Pixel Domination" class="center"/> 
    </div>
    </div>
  </div-->
  <<section class="hero is-white is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns  is-vcentered reverse-columns">
          <div class="column 
          is-10-mobile is-offset-1-mobile 
          is-10-tablet is-offset-1-tablet
          is-5-desktop is-offset-1-desktop
          is-5-widescreen is-offset-1-widescreen
          is-5-fullhd is-offset-1-fullhd">
            <h1 class="title titled is-1 mb-6">
              Welcome to Pixel Domination 
            </h1>
            <h2 class="subtitle subtitled">
              Created by Mark Arguinbaev, Cal Blanco, Will Hord, Isaac Leiva, and Frank Podraza.
            </h2>
          </div>
          <div class="column
          is-10-mobile is-offset-1-mobile
          is-10-tablet is-offset-1-tablet
          is-4-desktop is-offset-1-desktop
          is-4-widescreen is-offset-1-widescreen
          is-4-fullhd is-offset-1-fullhd">
            <figure class="image is-square">
              <img src="images/pixelboard.gif">
            </figure>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="hero is-white is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns  is-vcentered">
          <div class="column
          is-10-mobile is-offset-1-mobile
          is-10-tablet is-offset-1-tablet
          is-4-desktop is-offset-1-desktop
          is-4-widescreen is-offset-1-widescreen
          is-4-fullhd is-offset-1-fullhd">
            <figure class="image is-square">
              <img src="images/browser.gif">
            </figure>
          </div>
          <div class="column
          is-10-mobile is-offset-1-mobile
          is-10-tablet is-offset-1-tablet
          is-5-desktop is-offset-1-desktop
          is-5-widescreen is-offset-1-widescreen
          is-5-fullhd is-offset-1-fullhd">
            <h1 class="titled title is-1 mb-6">
              Choose or Create Your Own Server
            </h1>
            <h2 class="subtitled subtitle">
              Specify the size, time between placements, and how long the game is live,
              or simply join an existing server.
            </h2>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="hero is-white is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns  is-vcentered reverse-columns">
          <div class="column
          is-10-mobile is-offset-1-mobile
          is-10-tablet is-offset-1-tablet
          is-5-desktop is-offset-1-desktop
          is-5-widescreen is-offset-1-widescreen
          is-5-fullhd is-offset-1-fullhd">
            <h1 class="title titled is-1 mb-6">
              Pick a Color 
            </h1>
            <h2 class="subtitle subtitled">
              Your color is your team. Choose either black, red, green, blue, or yellow to represent
              and fight for control over the board.
            </h2>
          </div>
          <div class="column
          is-10-mobile is-offset-1-mobile
          is-10-tablet is-offset-1-tablet
          is-4-desktop is-offset-1-desktop
          is-4-widescreen is-offset-1-widescreen
          is-4-fullhd is-offset-1-fullhd">
            <figure class="image is-square">
              <img src="images/colorselector.gif">
            </figure>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="hero is-white is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns  is-vcentered">
          <div class="column
          is-10-mobile is-offset-1-mobile
          is-10-tablet is-offset-1-tablet
          is-4-desktop is-offset-1-desktop
          is-4-widescreen is-offset-1-widescreen
          is-4-fullhd is-offset-1-fullhd">
            <figure class="image is-square">
              <img src="images/domination.gif">
            </figure>
          </div>
          <div class="column
          is-10-mobile is-offset-1-mobile
          is-10-tablet is-offset-1-tablet
          is-5-desktop is-offset-1-desktop
          is-5-widescreen is-offset-1-widescreen
          is-5-fullhd is-offset-1-fullhd">
            <h1 class="titled title is-1 mb-6">
              Dominate the Board
            </h1>
            <h2 class="subtitled subtitle">
              Amass as much territory on the board by either placing new pixels or replacing old ones.
              Whichever color has the most points scored when the clock hits zero is the victor.

            </h2>
          </div>

        </div>
      </div>
    </div>
  </section>


 

  [[block page_scripts]]
  <!-- Loads the index-specific js for Vue -->
  <script>
    let my_callback_url = "[[=XML(my_callback_url)]]";
    let get_pixels_url = "[[=XML(get_pixels_url)]]";
    let get_new_game_url = "[[=XML(get_new_game_url)]]";
    let draw_url = "[[=XML(draw_url)]]";
    let count_score_url = "[[=XML(count_score_url)]]";

  </script>
  <script src="js/index.js"></script>
  [[end]]
</body>
