[[extend 'layout-noFooter.html']]

<style>
  [v-cloak] {
    display: none;
  }
</style>

<head>
  <title>[[=game_data['name'] ]] - Pixel Domination</title>
  <link rel="stylesheet" href="css/custom.css" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css"
  />
  <script>
    let game_end_time_str =  "[[=game_data['end_time']]]";
    let game_end_time = new Date(game_end_time_str + "Z").getTime();
    let team_color = "[[=team_color]]";
    console.log(team_color);
  </script>
</head>

<body>
  <div id="vue-target">

    <div v-if="(game_info.end_time - (new Date(Date.now()))) <= 0">
      <!--If the game has expired-->
      <div class="container box notification is-info-light mb-4 mt-4">
        <div class="level">
          <div class="level-item">
            <h1 class="title is-2"> {{ game_info.name}} </h1>
          </div>
        </div>
        <div class="level">
          <div class="level-item">
            <p>
              This game has expired, thank you all for playing.
            </p>
          </div>
        </div>
        <div class="level">
          <div class="level-item">
            <a class="button is-danger control" href="[[=URL('browser')]]">
              <span class="icon"><i class="fa fa-reply"></i></span>
              <span>Back to Server Browser</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div v-else>
      <!--If the game is active-->
      <div class="container box notification is-info-light mb-4 mt-4">
        <div class="level">
          <div class="level-left">
            <div class="level-item">
              <a class="button is-danger control" href="[[=URL('browser')]]">
                <span class="icon"><i class="fa fa-reply"></i></span>
                <span>Back</span>
              </a>
            </div>
            <div class="level-item"></div>
            <div class="level-item">
              <h1 class="title is-2"> {{ game_info.name}} </h1>
            </div>
          </div>
          <div class="level-right">
            <div class="level-item">
              <h2 class="subtitle is-4" id="gameTimer"></h2>
            </div>
          </div>
        </div>
        <div class="level">
          <div class="level-left">
            <div v-if="selectedColor != 'None'">
              <div id="color-picker">
                <div class="expand">
                  <div
                    class="color currentcolor"
                    :style="{ backgroundColor: selectedColor }"
                  ></div> 
                </div>
              </div>
            </div>
            <div v-else>
              <div id="color-picker">
                <div class="expand">
                  <div
                    @onload="toggleColorSelector()"
                  ></div> 
                  <div class="colorSelector" v-show="colorSelectorShown">
                    <div
                      class="color"
                      v-for="color in colors"
                      :style="{ backgroundColor: color }"
                      v-show="color !== selectedColor"
                      @click="selectedColor = color"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="level-right">

          </div>
        </div>
      </div>

      
  
      <div
        class="centering"
        style="display: flex; justify-content: center; align-items: center"
      >
        <div
          class="canvas_container"
          style="width: 80vw; height: 80vh; position: relative"
        >
          <canvas id="canvas" ref="canvas" style="user-select: none"></canvas>
          <div
            id="leaderboard"
            class="leaderboard-container"
            style="position: absolute; top: 0; left: 0"
          >
            <h2 class="leaderboard-heading" @click="toggleLeaderBoard">
              Leaderboard
            </h2>
            <div class="leaderboard-items" v-show="leaderBoardExpanded">
              <!-- Add more leaderboard items here -->
              <div v-for="obj in add_scores">
                {{obj.name}} : {{obj.count}}
              </div>
  
            </div>
            </div>
          </div>
          <div class="chat" style="position: absolute; bottom: 0; right: 0">
            <div v-show="!chatOpen" class="circle" @click="chatOpen=true">
              <i class="fa fa-comment" style="color: white"></i>
            </div>
            <div v-show="chatOpen" class="chat-box">
              <div class="chat-title">
                <h2>Game Chat</h2>
                <span class="minimize-arrow" @click="chatOpen = false">▼</span>
              </div>
              <div class="messages-container">
                <ul class="messages">
                  <li
                    class="message-item"
                    v-for="message in chatMessages"
                    :key="message.id"
                  >
                    <span class="username">{{message.user}}:</span> {{
                    message.message }}
                  </li>
                </ul>
              </div>
              <div class="input-container">
                <input
                  type="text"
                  placeholder="Type your message..."
                  v-model="chatMessage"
                  v-on:keyup.enter="send_chat_message"
                />
              </div>
            </div>
          </div>
      </div>
    </div>

  </div>
</div>

  [[block page_scripts]]
  <!-- Loads the index-specific js for Vue -->
  <script>
    let my_callback_url = "[[=XML(my_callback_url)]]";
    let get_pixels_url = "[[=XML(get_pixels_url)]]";
    let draw_url = "[[=XML(draw_url)]]";
    let game_id = "[[=game_id]]";
    let get_chat_messages_url = "[[=XML(get_chat_messages_url)]]";
    let send_chat_message_url = "[[=XML(send_chat_message_url)]]";
    let game_grid_url = "[[=game_grid_url]]";
    let count_score_url = "[[=XML(count_score_url)]]";
    
  </script>
  <script src="js/play.js"></script>
  <script>
    // Grab the timer element
    var span = document.getElementById('gameTimer');
    function timer() {
      var now = new Date(Date.now());
      // Print out the time left
      var diff = game_end_time - now;
      // Get values for each amount
      var days = Math.floor(
        (diff % (1000 * 60 * 60 * 24 * 7)) / (1000 * 60 * 60 * 24)
      );
      var hh = Math.floor((diff % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var mm = Math.floor((diff % (1000 * 60 * 60)) / (1000 * 60));
      var ss = Math.floor((diff % (1000 * 60)) / 1000);
      // Add padding 0s if necesary
      if (ss < 10) ss = "0" + ss;
      if (mm < 10) mm = "0" + mm;
      if (hh < 10) hh = "0" + hh;
      if (days > 0)
        span.textContent = days + " Days " + hh + ":" + mm + ":" + ss;
      else span.textContent = hh + ":" + mm + ":" + ss;
    }
    // Set 1s interval to update timer
    setInterval(timer, 1000);
  
  </script>
  [[end]]
</body>
