[[extend 'layout-noFooter.html']]

<head>
  <title>User Stats - Pixel Domination</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
  </script>
</head>

<body>
  <div class="container">
  <div class="box">
    <div class="section">
      <h1 class="title is-2">[[=ply.username]]'s stats</h1>
    </div>
    <div class="tile is-ancestor is-vertical">
      <div class="tile is-parent">
        <div class="tile is-child notification is-primary">
          <div class="level">
            <div class="level-item">
              <h1 class="title is-3">General Stats</h1>
            </div>
          </div>
          <div class="level">
            <div class="level-left">
              <div class="level-item">
                <h3 class="subtitle is-3"> Total Clicks </h3>
              </div>
            </div>
            <div class="level-right">
              <div class="level-item">
                <h3 class="subtitle is-3"> [[=ply.total_clicks]] </h3>
              </div>
            </div>
          </div>
          <hr>
          <div class="level">
            <div class="level-left">
              <div class="level-item">
                <h3 class="subtitle is-3"> Last Click </h3>
              </div>
            </div>
            <div class="level-right">
              <div class="level-item">
                <h3 class="subtitle is-3"> [[=ply.last_click]] </h3>
              </div>
            </div>
          </div>
          <hr>
          <div class="level">
            <div class="level-left">
              <div class="level-item">
                <h3 class="subtitle is-3"> Last Game </h3>
              </div>
            </div>
            <div class="level-right">
              <div class="level-item">
                <h3 class="subtitle is-3"> [[=ply.game_name]] </h3>
              </div>
            </div>
          </div>
          <hr>
          <div class="level">
            <div class="level-left">
              <div class="level-item">
                <h3 class="subtitle is-3"> Active Pixels </h3>
              </div>
            </div>
            <div class="level-right">
              <div class="level-item">
                <h3 class="subtitle is-3"> [[=ply.pixels]] </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tile is-parent">
        <div class="tile is-child notification is-info">
          <div class="level">
            <div class="level-item">
              <h1 class="title is-3">Pixel Stats</h1>
            </div>
          </div>
          <div class="level">
            <div class="level-left">
              <div class="level-item">
                <h3 class="subtitle is-3"> Red </h3>
              </div>
            </div>
            <div class="level-right">
              <div class="level-item">
                <h3 class="subtitle is-3"> [[=ply.red]] </h3>
              </div>
            </div>
          </div>
          <hr>
          <div class="level">
            <div class="level-left">
              <div class="level-item">
                <h3 class="subtitle is-3"> Blue </h3>
              </div>
            </div>
            <div class="level-right">
              <div class="level-item">
                <h3 class="subtitle is-3"> [[=ply.blue]] </h3>
              </div>
            </div>
          </div>
          <hr>
          <div class="level">
            <div class="level-left">
              <div class="level-item">
                <h3 class="subtitle is-3"> Green </h3>
              </div>
            </div>
            <div class="level-right">
              <div class="level-item">
                <h3 class="subtitle is-3"> [[=ply.green]] </h3>
              </div>
            </div>
          </div>
          <hr>
          <div class="level">
            <div class="level-left">
              <div class="level-item">
                <h3 class="subtitle is-3"> Yellow </h3>
              </div>
            </div>
            <div class="level-right">
              <div class="level-item">
                <h3 class="subtitle is-3"> [[=ply.yellow]] </h3>
              </div>
            </div>
          </div>
          <hr>
          <div class="level">
            <div class="level-left">
              <div class="level-item">
                <h3 class="subtitle is-3"> Black </h3>
              </div>
            </div>
            <div class="level-right">
              <div class="level-item">
                <h3 class="subtitle is-3"> [[=ply.black]] </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tile is-parent">
        <div class="tile is-child notification is-info-light">
          <div class="level">
            <div class="level-item"><h3 class="title is-2">Pixel Chart</h3></div>
          </div>
          <div class="level">
            <div class="level-item">
              <canvas id="myChart" style="width:100%;max-width:700px"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <div class="container">

    <script>
      const data = {
        labels: [
          'Red',
          'Blue',
          'Yellow',
          'Green',
          'Black'
        ],
        datasets: [{
          label: 'My First Dataset',
          data: [Number("[[=ply.red]]"), Number("[[=ply.blue]]"), Number("[[=ply.yellow]]"),Number("[[=ply.green]]"),Number("[[=ply.black]]")],
          backgroundColor: [
            'rgb(255, 99, 132)',
            'rgb(54, 162, 235)',
            'rgb(255, 205, 86)',
            'rgb(50, 255, 50)',
            'rgb(0,0,0)'
          ],
          hoverOffset: 4
        }]
      };

      const myChart = new Chart("myChart", {
        type: 'doughnut',
        labels: [
          'Red',
          'Green',
          'Blue',
          'Yellow',
          'Black'

        ],
        data: data,
        options: {
          parsing: {
            key: 'nested.value'
          }
        }
      });

      console.log(data)
    </script>
  </div>


  </div>

</body>